.alert {
  padding: 0.8rem;
  margin: 0 25%;
  opacity: 0.9;
  background: var(--light-color);
  color: white;
  text-align: center;
  background-color: #e82c2c;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.loginMargin {
  margin-top: 25%;
}
